# Prerequisites
*.d

# Игнорировать скомпилированные файлы
*.exe
*.out
*.o
*.a
*.so
*.dll

# Игнорировать папки сборки
build/
bin/
obj/

# Игнорировать файлы IDE (например, Visual Studio, CLion)
.vs/
.idea/
*.sln
*.vcxproj*
*.user
CMakeCache.txt
CMakeFiles/
Makefile

# Игнорировать временные файлы
*.tmp
*.swp
*.log
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
